[Unit]
Description=RNS-E CAN-Bus Handler
After=can0-setup.service vcan0.service

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/rns-e_can
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/pi/rns-e_can/can_handler.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
